# MongoDB Atlas
MONGODB_URI=mongodb+srv://engsphere_sm:K8pL2mR9zQ5xN3v@smle.gcj0xoj.mongodb.net/engsocial?retryWrites=true&w=majority
DB_NAME=engsocial

# Server
NODE_ENV=development
PORT=5000

# CORS - Comma separated origins
CORS_ORIGIN=http://localhost:3000,https://eng-social-fe.vercel.app

# JWT (for future auth)
JWT_SECRET=vXaSrZRrECeDhtYWZHYuljZqV7shD2KwL0MLbMYpFAvgfbOCVGhHPSmGsUiZpegxWDoIgKtUZ4E7aNvfdjk8nJ
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=duwhghs06
CLOUDINARY_API_KEY=514272192613562
CLOUDINARY_API_SECRET=PwrY9du7Eb9wHEdT4OTZrQAwuNA

FRONTEND_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_PASS=pikz uldo xald fopw
SMTP_FROM=rexlucian2844@gmail.com
